
@{
    ViewBag.Title = "SendCollegeAdmissionSms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<section class="bg-light custom-plan-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h5 style="margin-bottom:150px">Your application is submitted successfully.</h5>
            </div>
        </div>
    </div>
</section>


